
.circle{
    border-radius:50%;
    width:15px;
    height:15px;
    background-color:#1e90ff;
    margin-bottom:25px;
    position:relative;
  }
  .loader_wrap {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.6);
      animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
      z-index: 100;
      opacity: 0;
  }

  .container{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


  @keyframes fade {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .rowc{
    display:inline-block;
    margin-left:5px;
  }

  .c1{
    animation: c1 1.5s linear infinite;
  }

  .c2{
    animation: c2 1.5s linear infinite;
    background-color:#3fd1ff;
  }

  @keyframes c1{
    0%{transform:translateY(0px) scale(1);}
    25%{transform:translateY(12px) scale(1.5);background-color:#0c87ff;z-index:10;}
    50%{transform:translateY(34px) scale(1);}
    75%{transform:translateY(12px) scale(.6);background-color:#3a9eff;z-index:1;opacity:.1}
    100%{transform:translateY(0px) scale(1);}
  }

  @keyframes c2{
    0%{transform:translateY(0px) scale(1);}
    25%{transform:translateY(-12px) scale(.6);background-color:#75deff;z-index:1;opacity:.1}
    50%{transform:translateY(-34px) scale(1);}
    75%{transform:translateY(-12px) scale(1.5);background-color:#0fc3ff;z-index:10;}
    100%{transform:translateY(0px) scale(1);}
  }

  .row2 .c1{animation-delay:.1s;}.row2 .c2{animation-delay:.1s;}
  .row3 .c1{animation-delay:.22s;}.row3 .c2{animation-delay:.22s;}
  .row4 .c1{animation-delay:.37s;}.row4 .c2{animation-delay:.37s;}
  .row5 .c1{animation-delay:.49s;}.row5 .c2{animation-delay:.49s;}
  .row6 .c1{animation-delay:.67s;}.row6 .c2{animation-delay:.67s;}
  .row7 .c1{animation-delay:.89s;}.row7 .c2{animation-delay:.89s;}
  .row8 .c1{animation-delay:.95s;}.row8 .c2{animation-delay:.95s;}
  .row9 .c1{animation-delay:1.2s;}.row9 .c2{animation-delay:1.2s;}
  .row10 .c1{animation-delay:1.45s;}.row10 .c2{animation-delay:1.45s;}
  .row11 .c1{animation-delay:1.62s;}.row11 .c2{animation-delay:1.62s;}
  .row12 .c1{animation-delay:1.88s;}.row12 .c2{animation-delay:1.88s;}
  .row13 .c1{animation-delay:2s;}.row13 .c2{animation-delay:2s;}